Hostname: {{ ansible_net_hostname }}


RouterOS Version: {{ansible_net_version}}


Interfaces: {{ansible_net_interfaces | to_nice_json}}


CDP Neighbors:
{{ansible_net_neighbors | to_nice_json}}


Running Configuration:
{{ansible_net_config}}
